$textColor: black;
$companyColor: #46738A;


*{box-sizing:border-box;}
html, body{width:100%; height:100%; margin:0; padding:0; font-size: 16px;}

.wrap{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto calc(-3em - 1px);
}

.push{
    height:calc(3em + 1px);
}
.logo{ 
    width:100%;
    margin: 0 auto;
    img{
        width:100%;
        height:auto;
        outline:none;
        border:none;
    }
}

.logo_text{
    text-align:center;
    margin:0;
    padding:1em 0;
    font-size:6em;
    font-family:"Source Sans Pro" sans-serif;
    font-weight:300;
    color: $companyColor;
}

.title, .message, .copywrite{
    text-align:center;
}

.title{
    color: $companyColor;
    font: 300 4rem "source Sans Pro", sans-serif;
    margin:.5em 0 .5em 0;
}

.message{
    width:50%;
    margin: 0 auto 2rem auto;
    color: $textColor;
    font:300 1.2rem/1.5 "Source Sans Pro", sans-serif;
}

.first_contact{
    margin: 0 auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

input[type="email"], input[type="text"]{
    font:300 1.3em "Source Sans Pro", sans-serif;
    color: $textColor;
    background:hsla(104, 0%, 98%, 1);
    padding:.5rem 1.5rem;
    margin-right: 1rem;
    outline:none;
    border:1px solid $companyColor;
    border-radius: 2rem;
    display:block;
    text-align:center;
}
input[type="email"]:focus, , input[type="text"]:focus{
    box-shadow:inset 0 0 3px hsla(104, 0%, 75%, 1);
}
/*submit*/
input[type="submit"]{
    outline:none;
    border:none;
    padding: .5rem 2rem;
    font:300 1.3rem "Source Sans Pro", sans-serif;
    color: lighten($companyColor, 60%);
    background:$companyColor;
    border-radius: 2rem;
    display:block;
    transition: background 350ms;
    cursor:pointer;
    -webkit-appearance: none;
}
input[type="submit"]:focus{
    background:darken($companyColor, 25%);
}
input[type="submit"]:hover{
    background:darken($companyColor, 15%);
}
input[type="submit"]:active{
    background:$companyColor;
}
/*end submit*/
.form_message{
    text-align:center;
    color: lighten($textColor, 50%);
    font:300 .875rem "source Sans Pro", sans-serif;
}

footer{
    border-top:1px solid $companyColor;
    box-shadow:0 1px 3px hsla(104, 0%, 100%, 1);
    height:calc(3rem + 1px);
    width:100%;
    background:lighten($companyColor, 75%);
}
footer p{
    text-align:center;
    font:300 1rem/3rem "Source Sans Pro", sans-serif;
    color: $textColor;
    margin:0;
}
footer p a{
    color: $textColor;
    text-decoration:none;
    border-bottom: 1px dashed rgba($companyColor, .15);
    transition: all 350ms;
}
footer p a:hover{
    color: $textColor;
    border-bottom: 1px solid $companyColor;
}

@media screen and (max-width:1000px){
  .message{
    width:75%;
  }

@media(max-width:885px){
    .title{
        font-size:3rem;
    }
    .message{
      font-size: 1.5rem;
    }
    input[type='text'], input[type='email'], input[type='submit']{
        display:block;
        width:90%;
        margin-right:0;
        margin-bottom: .75rem;
        padding:1rem 1rem;
        font-size:2rem;
        border-radius:1rem;

    }
}
  
}
@media screen and (max-width:600px){
    .logo_text{
        font-size:3rem;
    }
}

@media screen and (max-width:420px){
    .logo_text{
        font-size:4rem;
    }
    .title{
        font-size:2rem;
    }
    .message{
        font-size:1rem;
    }
    .first_contact{
        width:95%;
        display:block;
    }
    .first_contact input{
        display:block;
        width:100%;
        padding:.6rem 1.5rem;
    }
    input[type="email"], input[type="text"]{
        margin-bottom:.25rem;
        border-radius:.25rem;
        text-align:center;
        font-size:1.5rem;
        padding:.6em 1.5rem;
    }
    input[type="submit"]{
        border-radius:.25rem;
        font-size:1.5rem;
        padding:.6em 1.5rem;
    }
}

//hidden input for spam protection
#your-name925htj{
  display:none;
}

 #your-name925htj, #your-email247htj{
  color:white;
  border: none;
  background:white;
}
